@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/browser' as b;

.monacoEditor {
  overflow: hidden;

  aspect-ratio: 3 / 2;
  width: 900px;
  height: 600px;
  padding-top: v.$padding;
  padding-bottom: v.$padding * 1.5;
  border-radius: 20px;

  background-color: rgba(v.$bg1);

  transition:
    height 0.3s v.$bezier,
    width 0.3s v.$bezier;

  @include d.flex;

  &-header {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 2);
  }

  &-spheres {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);

    padding-left: v.$padding * 2;
  }

  &-sphere {
    width: v.$icon;
    height: v.$icon;
    border-radius: 50%;

    &.red {
      background-color: #ff605c;
    }

    &.yellow {
      background-color: #ffbd44;
    }

    &.green {
      background-color: #00ca4e;
    }
  }

  &-field {
    @include d.flex($dir: row, $ali: center, $gap: 0);

    justify-content: center;

    input {
      max-width: 300px;
      background-color: transparent;
    }
  }

  &-languageIcon {
    width: v.$icon;
    height: v.$icon;
    margin-right: v.$padding;
    filter: drop-shadow(0 0 5px rgba(v.$fn1));

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &-extension {
    user-select: none;
    opacity: 0.8;
  }
}
