@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.circleStyle {
  position: relative;
  padding: v.$padding * 2;
  background-color: rgb(v.$bg1);

  @include d.flex($ali: center);

  border-radius: v.$radius;

  &-container {
    cursor: pointer;

    position: relative;

    width: 100%;
    height: min-content;
    min-height: 210px;

    background-color: rgb(v.$bg1);
  }

  &-circles {
    pointer-events: none;

    position: absolute;

    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: v.$padding * 0.5;
    justify-content: center;

    width: 100%;

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 10px;
      height: 10px;

      background-color: rgba(v.$tn1, 0.5);
      border-radius: 50%;
    }
  }

  &-circle {
    pointer-events: all;

    width: 50px;
    height: 50px;

    border: 2px solid rgba(v.$bg2, 0.8);

    transition: color ease-in-out 0.2s;

    &:hover {
      background-color: rgb(v.$bg2);
    }
  }

  &-pointer {
    cursor: all-scroll;

    position: absolute;

    width: 45px;
    height: 45px;

    background-color: rgb(v.$tn1);
  }
}
