@use '@sass/config/vars' as *;

$typography: (
  'h1': (
    size: $fH1,
    weight: 700,
    color: rgb($fn1),
    family: $font1
  ),
  'h2': (
    size: $fH2,
    weight: 600,
    color: rgb($fn1),
    family: $font1
  ),
  'h3': (
    size: $fH3,
    weight: 500,
    color: rgb($fn2),
    family: $font1
  ),
  'h4': (
    size: $fH4,
    weight: 400,
    color: rgb($fn2),
    family: $font1
  ),
  'h5': (
    size: $fH5,
    weight: 400,
    color: rgb($fn1),
    family: $font2
  ),
  'p': (
    size: $fP,
    weight: lighter,
    color: rgb($fn2),
    family: $font2
  ),
  'a': (
    size: $fH5,
    weight: 400,
    color: rgb($fn1),
    family: $font2
  )
);
