:root {
  --bg-primary: 13, 13, 13;
  --bg-secondary: 28, 28, 30;
  --bg-tertiary: 46, 46, 48;

  // Fuentes
  --fnt-primary: 231, 231, 231;
  --fnt-secondary: 119, 119, 120;
  --fnt-tertiary: 255, 255, 255;

  // Principales
  --tn-primary: 252, 21, 92;
  --tn-secondary: 0, 0, 0;

  // --

  --xl-font-size: 3rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.4rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.2rem;
  --p-font-size: 1.15rem;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$bg3: var(--bg-tertiary);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$fn3: var(--fnt-tertiary);
$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);
$tn3: var(--tn-tertiary);

// Window
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$big-screen: 1350px;

// Other
$radius: 10px;
$padding: 10px;
$icon: 20px;
$family-size: 11px;
$fontBase: 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
  'Segoe UI Emoji';
$fontTitle: var(--titleFont);
$font1: var(--paragraphFont);
$font2: var(--exclamationFont);

// Basic colors
$error: rgb(228 30 56);
$success: rgb(40 167 69);
$warning: rgb(255 193 7);
$info: rgb(23 162 184);
$blood: rgb(203 28 112);
$focus: #4285f4;

// Perspective
$per: 1000px;
$bgDef: '/fondos/3.jpg';
$noise: '/noise/noise-1.svg';

// bezier
$bezier: cubic-bezier(0.68, -0.55, 0.27, 1.55);

// gradients
$gr1: linear-gradient(140deg, rgb(255 100 50) 12.8%, rgb(255 0 101) 43.52%, rgb(123 46 255) 84.34%);

@mixin dotDark {
  body.dark & {
    @content;
  }
}

@mixin border($bg: rgb($bg1)) {
  & {
    background-color: $bg;
    border: 1.5px solid rgb($bg3);
  }
}

@mixin hoverS($scale: 0.99, $s: 0.2s) {
  scale: 1;
  transition: all $s ease-in;

  &:hover {
    scale: $scale;
    @content;
  }
}
