:root {
  --bg-primary: #000;
  --bg-secondary: #131417;
  --bg-tertiary: #1e1f26;
  --fnt-primary: #fff;
  --fnt-secondary: #a6aab8;
  --tn-primary: #ffdd40;
  --tn-secondary: #444857;
  --tn-tertiary: #0007;
  --xl-font-size: 4em;
  --h1-font-size: 2em;
  --h2-font-size: 1.8em;
  --h3-font-size: 1.6em;
  --h4-font-size: 1.4em;
  --h5-font-size: 1.2em;
  --p-font-size: 1.1em;
  --span-font-size: 1em;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$fSpan: var(--span-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$bg3: var(--bg-tertiary);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);
$tn3: var(--tn-tertiary);

// other
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$big-screen: 1350px;

// extra
$radius: 10px;
$padding: 15px;
$icon: 20px;

// font
$family-size: 14px;
$fontBase: 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
  'Segoe UI Emoji';
$font1: var(--Geologica), $fontBase;
$font2: var(--PoppinsFont), $fontBase;
$font3: var(--Exo2Font), $fontBase;
$gr: radial-gradient(
    at 46.31% 50.93%,
    hsl(35.29deg 100% 73.33% / 100%) 0%,
    hsl(35.29deg 100% 73.33% / 0%) 100%
  ),
  radial-gradient(
    at 8.65% 17.85%,
    hsl(4.8deg 100% 75.49% / 100%) 0%,
    hsl(4.8deg 100% 75.49% / 0%) 100%
  ),
  radial-gradient(
    at 61.58% 50.01%,
    hsl(4.8deg 100% 75.49% / 100%) 0%,
    hsl(4.8deg 100% 75.49% / 0%) 100%
  ),
  radial-gradient(
    at 44.71% 83.01%,
    hsl(35.29deg 100% 73.33% / 100%) 0%,
    hsl(35.29deg 100% 73.33% / 0%) 100%
  ),
  radial-gradient(
    at 77.66% 68.82%,
    hsl(4.8deg 100% 75.49% / 100%) 0%,
    hsl(4.8deg 100% 75.49% / 0%) 100%
  );
