@use '@/sass/utils/scrollbar';
@use '@/sass/config/vars' as *;
@use '@/sass/utils/media' as m;
@use '@/sass/utils/text' as t;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  @extend %scroll-hidden;

  position: relative;

  overflow: hidden;

  width: 100dvw;
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;

  font-family: $font2;
  font-size: $family-size;
  line-height: 1.25;
  color: $fn1;

  background-color: $bg1;

  textarea {
    @extend %scroll-hidden;

    resize: none;
  }

  button,
  input,
  textarea,
  select {
    display: block;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  p,
  a,
  span,
  input,
  textarea,
  button,
  select {
    font-family: $font3;
    text-wrap: pretty;
  }

  h4,
  h5 {
    font-family: $font2;
  }

  h1,
  h2,
  h3 {
    font-family: $font1;
    text-wrap: balance;
  }

  // font 1
  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 800;
  }

  h3 {
    font-weight: 700;
  }

  // font 2

  h4 {
    font-weight: 600;
  }

  h5 {
    font-weight: 500;
  }

  // font 3

  p,
  a,
  input,
  button,
  textarea,
  select {
    font-size: $fP;
    font-weight: 800;
    color: $fn2;
  }

  a {
    display: block;
    text-decoration: none;
  }

  span {
    font-weight: 300;
    color: $fn2;
  }

  ul {
    list-style: none;
  }

  svg {
    display: block;
    width: $icon;
    height: $icon;
  }
}

$listOfFontsSize: (
  '.xl': $fXl,
  'h1': $fH1,
  'h2': $fH2,
  'h3': $fH3,
  'h4': $fH4,
  'h5': $fH5,
  'p': $fP,
  'span': $fSpan
);

@each $tag, $value in $listOfFontsSize {
  #{$tag} {
    font-size: $value;
  }
}

@include m.smallerScreen {
  body {
    font-size: 10px;
  }
}
