@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.themeColorDisplay {
  width: 70px;
  height: 30px;
  border: 3px solid rgb(v.$bg3);
  border-radius: v.$radius * 0.7;

  background-color: rgb(v.$bg1);
  background-image: linear-gradient(110deg, rgb(v.$tn2), rgb(v.$tn1), rgb(v.$bg1));
}
