@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;
@use '@sass/utils/scrollbar' as *;

.fontMonaco {
  flex-wrap: wrap;
  width: 100%;

  @include d.flex;

  &-fonts {
    @include d.flex($dir: row);

    flex-wrap: wrap;
  }

  &-font {
    width: fit-content;
    padding: v.$padding;

    background-color: rgb(v.$bg1);
    border: 2px solid transparent;
    border-radius: v.$radius;

    &.active {
      border-color: rgb(v.$tn1);

      h3 {
        color: rgb(v.$tn1);
      }
    }
  }
}
