@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.monacoPreferences {
  &-popup {
    width: 400px;

    @include d.flex($gap: v.$padding * 2);

    height: 700px;
    max-height: 700px;
  }

  &-section {
    @include d.flex($gap: v.$padding * 1.5);
  }

  &-subsection {
    @include d.flex;

    padding: v.$padding v.$padding * 0.8;
    border-left: 3px dashed rgba(v.$tn1, 0.5);
    background-color: rgba(v.$bg2, 0.5);
  }

  &-switch,
  &-themes,
  &-fonts {
    @include d.flex($dir: row, $gap: v.$padding * 0.5);

    flex-wrap: wrap;
    width: 100%;
  }

  &-languages {
    @include d.flex;

    width: 100%;
  }

  &-fontSize {
    @include d.flex($gap: v.$padding * 0.5);
  }
}
