@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.indexImageAction {
  width: 100%;
  padding: v.$padding;
  border: 2px dashed rgb(v.$bg3);
  border-radius: v.$radius;

  text-align: center;

  &.overlapping {
    border-color: v.$focus;
    color: v.$focus;
  }
}
