@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.monaco {
  overflow: hidden;

  height: 100%;
  min-height: 200px;
  padding: v.$padding * 1.5 0;

  background-color: #1e1e1e;
  border-radius: v.$radius;

  @include d.flex($ali: center, $gap: v.$padding * 2);

  &-header {
    width: 100%;
    padding: 0 v.$padding * 1.5;

    @include d.flex($dir: row, $ali: center, $gap: v.$padding);

    &__buttons {
      @include d.flex($dir: row, $gap: 10px, $ali: center);

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }

      .red {
        background-color: #ff605c;
      }

      .yellow {
        background-color: #ffbd44;
      }

      .green {
        background-color: #00ca4e;
      }
    }

    input {
      width: min-content;

      background-color: transparent;
      border: 2px solid transparent;
      border-radius: v.$radius;

      transition: all 0.3s ease;

      &:focus {
        border-color: #4285f4;
      }
    }
  }

  &-editor {
    height: auto;
  }
}
