@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.shwBlurSpreadConfig {
  @include d.flex($dir: row, $ali: center);

  flex-wrap: wrap;

  &-shadow {
    width: 60px;
    height: 100px;

    @include d.flex($dir: column, $ali: center);
  }

  &-wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100%;
    border-radius: v.$radius * 0.8;

    background-color: rgb(v.$bg1);
  }

  &-sphere {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: rgb(v.$bg1);
  }

  &-shadow.selected .shwBlurSpreadConfig-wrapper {
    border: 2px solid rgb(v.$tn1);
  }
}
