@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.main.editor {
  .code-container {
    @include d.flex($ali: center);

    scale: 0.75;

    justify-content: center;

    width: 750px;
    max-width: 100%;
    height: 650px;
    max-height: 100%;

    perspective: 1000px;
    perspective-origin: 50% 50%;
  }

  .code-image {
    box-shadow: rgb(0 0 0 / 79%) 15px 10px 22px 4px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}
