@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.root-main.codePage {
  @include d.flex($gap: 0, $ali: center);
}

.codePage {
  &-tools {
    width: 100%;
    height: 50px;
    padding: 0 v.$padding;
  }

  &-container {
    justify-content: center;
    width: 100%;
    height: 100%;

    @include d.flex($ali: center);
  }

  &-monaco {
    min-width: 900px;
    max-width: 900px;
    height: auto;
    min-height: 200px;
    padding: v.$padding;

    background-image: v.$gr1;
    border-radius: v.$radius;

    &.shooting {
      position: relative;
      z-index: 1;

      overflow: hidden;
      display: inline-block;

      animation: flash-effect 0.5s ease-in-out infinite;

      @keyframes flash-effect {
        0%,
        100% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }
      }
    }
  }
}
