@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.header {
  justify-content: space-between;

  &-logo,
  &,
  &-nav {
    @include d.flex($dir: row, $ali: center);
  }

  &-logo svg {
    width: 35px;
    height: 35px;
  }

  &-nav {
    gap: v.$padding * 2;

    a {
      border-radius: v.$radius;

      &.active {
        background-color: rgb(v.$tn1);

        svg {
          stroke: rgb(v.$fn3);
        }
      }
    }
  }
}
