@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

$bg: v.$gr;

.perspectives {
  @extend %scroll-hidden;

  overflow-y: auto;
  padding: v.$padding;

  &-item {
    justify-content: center;

    width: calc(750px / 4);
    height: calc(650px / 4);
    min-height: calc(650px / 4);

    perspective: 500px;
    perspective-origin: 10% 60%;
    background-image: $bg;
    border-radius: v.$radius;

    @include d.flex($ali: center);
  }

  &-transform {
    background-color: black;
  }

  @include d.flex;
}
