@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.popup {
  user-select: none;

  position: fixed;
  z-index: 10;

  overflow: hidden;

  width: fit-content;
  min-width: 200px;
  height: fit-content;
  min-height: 300px;
  border-radius: v.$radius;

  opacity: 1;
  background-color: rgb(v.$bg1, 0.75);
  backdrop-filter: blur(10px);

  @include d.flex($gap: v.$padding * 0.5);

  &-container {
    @include scroll-hidden;

    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    min-width: 100%;
    min-height: 100%;
    padding: 0 v.$padding v.$padding * 2;

    transition: height 0.3s ease-in-out;
  }

  &.block-children-events {
    .popup-container {
      pointer-events: none;
    }
  }

  &.animate {
    animation: delay-opacity 0.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);

    @keyframes delay-opacity {
      0% {
        visibility: hidden;
        opacity: 0;
      }

      100% {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &-header {
    position: relative;
    padding: v.$padding;

    @include d.flex($dir: row, $ali: center);
  }

  &-closeButton {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(v.$tn1);
  }
}
