/* stylelint-disable keyframes-name-pattern */
@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;

.dropzone {
  pointer-events: all;

  position: relative;

  width: auto;
  height: auto;

  outline: 3px dashed transparent;

  &.error,
  &.dragging {
    border-radius: v.$radius;
  }

  &.error {
    outline-color: v.$error;
  }

  &.dragging {
    background-color: rgb(v.$fn3);
    outline-color: rgb(v.$fn3);
  }

  &.loading {
    pointer-events: none;
  }

  &-content {
    cursor: pointer;

    scale: 1;

    justify-content: center;

    width: 500px;
    max-width: 800px;
    height: 500px;
    max-height: 600px;

    line-height: normal;
    text-align: center;

    background-color: rgb(v.$bg1);
    border-radius: v.$radius;

    @include d.flex($ali: center, $gap: v.$padding);

    &__icon,
    &__open,
    h3,
    p {
      scale: 1.5;
      margin-bottom: v.$padding * 2;
    }

    &__icon {
      width: 50px;
      height: 50px;
    }

    &__open {
      padding: v.$padding * 0.5 v.$padding;
      background-color: rgb(v.$bg2);
      border: 2px solid rgb(v.$bg3);
      border-radius: 5px;

      &:hover {
        scale: 1.45;
      }
    }
  }
}
