@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.shumShots {
  display: grid;
  place-content: center;

  width: fit-content;
  height: fit-content;
  border: 1.5px solid rgba(v.$tn1);

  background-color: rgba(v.$bg2);

  &.circle {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: v.$radius * 0.4;
  }

  &.xs {
    padding: v.$padding * 0.5;

    .shumShots-logo {
      width: v.$icon * 1.3;
      height: v.$icon * 1.3;
    }
  }

  &.sm {
    padding: v.$padding;

    .shumShots-logo {
      width: v.$icon * 1.7;
      height: v.$icon * 1.7;
    }
  }

  &.md {
    padding: v.$padding * 1.2;

    .shumShots-logo {
      width: v.$icon * 2;
      height: v.$icon * 2;
    }
  }

  &.lg {
    padding: v.$padding * 1.3;

    .shumShots-logo {
      width: v.$icon * 4;
      height: v.$icon * 4;
    }
  }

  &.xl {
    padding: v.$padding * 2;

    .shumShots-logo {
      width: v.$icon * 6;
      height: v.$icon * 6;
    }
  }

  &.none {
    padding: 0;
    border: none;
    border-radius: 0;
  }
}
