@use '@sass/utils/defs' as d;
@use '@sass/config/vars' as v;

.iconInput {
  @include d.flex($dir: row, $ali: center);

  flex-wrap: wrap;

  width: fit-content;
  max-width: 100%;
  padding: v.$padding * 0.8;
  border-radius: v.$radius * 0.7;

  background-color: rgb(v.$bg1);

  &-input {
    min-width: 50px;
    background-color: transparent;
  }
}
