@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/boxLoader' as loader;
@use '@sass/utils/scrollbar' as *;

.editorImageTools {
  position: relative;
  justify-content: space-between;

  @include d.flex($dir: row, $ali: center);

  &-section {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding);

    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg2);

    &.center {
      justify-content: center;
      width: 200px;
    }

    > div {
      @include d.flex($dir: row, $ali: center, $gap: 0);
    }
  }

  &-action {
    &.active {
      border-radius: v.$radius;
      background-color: rgb(v.$tn1);

      svg {
        stroke: rgb(v.$fn3);
      }
    }

    &.border-left {
      margin-left: v.$padding;
      padding-left: v.$padding * 1.2;
      border-left: 2px solid rgb(v.$bg3);
    }

    &.border-right {
      margin-right: v.$padding;
      padding-right: v.$padding * 1.2;
      border-right: 2px solid rgb(v.$bg3);
    }
  }

  &-action.editorImageTools-especial {
    @include d.flex($dir: row, $ali: center, $gap: 10px);

    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius;

    font-size: 1rem;
    font-weight: 500;
    color: rgb(v.$fn3);

    background-image: v.$gr1;

    svg {
      stroke: rgb(v.$fn3);
    }
  }
}
