@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.actionToast {
  user-select: none;

  justify-content: center;

  width: fit-content;
  min-width: 150px;
  height: fit-content;
  padding: v.$padding * 2;
  border-radius: v.$radius;

  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

  @include d.flex($gap: v.$padding * 2.5);

  &-icon {
    width: fit-content;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(v.$bg3);

    .lucide {
      width: 12px;
      height: 12px;
      stroke: white;
      stroke-width: 2.5;
    }
  }

  &.success .actionToast-icon {
    background-color: v.$success;
  }

  &.error .actionToast-icon {
    background-color: v.$error;
  }

  &.warning .actionToast-icon {
    background-color: v.$warning;

    .lucide {
      stroke: black;
    }
  }

  &.info .actionToast-icon {
    background-color: v.$info;
  }

  &-title,
  &-description {
    max-width: 150px;
  }

  &-actions {
    @include d.flex($gap: v.$padding, $ali: flex-start);
  }

  &-action {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(v.$bg3);

    &.underline {
      border: 1.5px dashed rgb(v.$tn1);
    }
  }
}
