@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;
@use '@sass/utils/scrollbar' as *;

.themes {
  flex-wrap: wrap;
  width: 100%;

  @include d.flex($dir: row);

  &-item {
    cursor: pointer;

    overflow: hidden;
    justify-content: center;

    width: 90px;
    height: 60px;
    padding: 5px;

    border-radius: v.$radius;

    @include v.hoverS(0.9);

    @include d.flex($ali: center, $gap: v.$padding * 0.5);

    &.active {
      scale: 0.87;
      border: 5px solid rgb(v.$tn1);
    }

    &__text {
      width: 100%;
      height: 20px;
      border: 1px solid rgb(v.$bg3);
      border-radius: 5px;
    }

    &__font {
      width: 100%;
      height: 4px;
      border: 1px solid rgb(v.$bg3);
    }

    &__flex {
      width: 100%;

      @include d.flex($gap: 5px, $dir: row);
    }

    &__bgs {
      width: 30px;
      height: 8px;
      border: 1px solid rgb(v.$bg3);

      &:last-child {
        width: 13px;
        border-radius: 50%;
      }
    }
  }
}
