@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.perspectivesImages {
  @include d.flex;
}

.perspectiveImage {
  position: relative;

  overflow: hidden;
  justify-content: center;

  width: 100%;
  height: 200px;

  perspective: 200px;
  perspective-origin: 0% 0%;
  background-image: v.$gr1;
  border: 2px solid transparent;
  border-radius: v.$radius;

  @include d.flex($ali: center);

  &-card {
    pointer-events: none;
    user-select: none;

    transform-origin: 0% 0%;
    transform-style: preserve-3d;

    overflow: hidden;

    // size card image
    width: 940px * 0.12;
    height: fit-content;

    background-color: rgb(v.$bg2);

    transition: all 0.1s ease-in;
  }

  h3 {
    color: white;
  }

  &.active {
    border-color: rgb(v.$fn1);

    .perspectiveImage-card {
      filter: hue-rotate(400deg);
    }
  }
}
