@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.colorsController {
  @include d.flex($gap: v.$padding * 1.5);

  &-section {
    @include d.flex;

    max-width: 240px;
  }

  &-colors {
    @include d.flex($dir: row, $gap: 0);

    overflow: hidden;
    flex-wrap: wrap;
    border-radius: v.$radius;
  }

  &-color {
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 30px;
  }
}
