@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.styleBlurCard {
  cursor: pointer;

  position: relative;

  justify-content: space-between;

  width: 65px;
  min-height: 90px;
  padding: v.$padding;

  border-radius: v.$radius;

  transition: all 0.2s ease-in-out;

  @include d.flex($ali: center, $gap: v.$padding * 0.5);

  &.active {
    background-color: rgb(v.$bg3);
  }

  p {
    font-weight: 600;
  }

  &-cube {
    position: relative;
    width: 50px;
    height: 70px;

    span {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      display: block;

      width: 40px;
      height: 50px;

      background-color: rgb(v.$bg3);
      border: 1px dashed rgb(v.$fn3);
      border-radius: 8px 0 0 8px;
      border-radius: v.$radius * 0.5;

      transition: all 0.3s ease-in-out;
    }
  }

  @include v.hoverS(1.1);
}
