@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/components/patterns' as *;

.patternsImage {
  &-items {
    flex-wrap: wrap;

    @include d.flex($dir: row);
  }

  &-action,
  &-item {
    width: 110px;
    height: 80px;

    background-color: rgb(v.$bg1);
    border: 2px solid transparent;
    border-radius: v.$radius;

    &.active {
      border-color: rgb(v.$fn1);
    }
  }

  &-action {
    @include d.flex($ali: center);

    justify-content: center;
  }

  &-item {
    @extend %patterns;

    opacity: 0.5;
    background-color: rgb(v.$bg3);
  }
}
