@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.editorStyles {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;

  @include d.flex($gap: v.$padding * 2);

  &-stickyBottom,
  &-stickyTop {
    position: sticky;
    z-index: 1;
    height: auto;
    padding: v.$padding 0;

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      left: 0;

      width: 100%;
      height: 50px;

      backdrop-filter: blur(1px);
    }
  }

  &-stickyBottom {
    bottom: 0;
    border-top: 3px dashed rgb(v.$bg3);

    &::before {
      top: -30px;
      background-image: linear-gradient(transparent, rgb(v.$bg1, 0.8));
    }
  }

  &-stickyTop {
    top: 0;
    border-bottom: 3px dashed rgb(v.$bg3);

    &::before {
      bottom: -30px;
      background-image: linear-gradient(rgb(v.$bg1, 0.5), transparent);
    }
  }

  &-view {
    @include scroll-hidden;

    position: relative;
    overflow-x: hidden;
    width: 100%;

    @include d.flex($gap: v.$padding * 2);
  }

  &-title {
    color: rgb(v.$fn2);
  }

  &-section {
    @include d.flex;

    padding-bottom: v.$padding * 2;
    border-bottom: 3px dotted rgb(v.$bg3);

    &:last-child {
      border-bottom: none;
    }

    &__items {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: v.$padding * 0.5;

      @include d.flex($dir: row, $ali: space-evenly);
    }
  }

  .editorStyles-section:nth-last-child(2) {
    border: none;
  }
}
