@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

@use '@sass/utils/tooltip' as tol;

.simpleButtonLabel {
  position: relative;

  display: grid;
  place-content: center;

  width: fit-content;
  height: fit-content;

  svg {
    width: v.$icon;
    height: v.$icon;
  }

  &-label {
    pointer-events: none;
    user-select: none;

    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);

    min-width: fit-content;
    min-height: fit-content;

    visibility: hidden;
    opacity: 0;
    background-color: rgb(v.$bg1);

    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.left {
      right: 0;
    }

    &.right {
      right: 0;
    }
  }

  &-content {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);
  }

  &:hover &-label {
    visibility: visible;
    opacity: 1;

    &.top {
      top: v.$padding * -3;
    }

    &.bottom {
      bottom: v.$padding * -3;
    }

    &.left {
      left: v.$padding * -3;
    }

    &.right {
      right: v.$padding * -3;
    }
  }
}
