@use '@sass/utils/defs' as d;
@use '@sass/config/vars' as v;

.borderStyle {
  width: 100px;
  height: 50px;

  &-wrapper {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 50px;
    border: 3px solid rgb(v.$bg3);
    border-radius: v.$radius * 0.8;

    background-color: rgb(v.$bg1);

    &::before {
      content: '';

      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 50px;
      height: 50px;
      border-radius: 50%;

      background-image: linear-gradient(to right, rgb(v.$tn1), rgb(v.$tn2) 50%);
      filter: blur(10px) opacity(0.6);
    }
  }

  &-viewer {
    position: absolute;
    top: -30%;
    right: -30%;

    width: 100%;
    height: 100%;
    border: 2px solid rgb(v.$bg3);
    border-bottom-left-radius: v.$radius;

    &::before {
      content: '';

      position: absolute;
      top: -20%;
      right: -10%;

      width: 100%;
      height: 100%;
      border-bottom-left-radius: v.$radius * 0.7;

      background-color: rgb(v.$bg3);
    }
  }

  &.selected .borderStyle-wrapper {
    border-color: rgb(v.$tn1);
  }
}
