@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

// Style of other components
.bgStyles {
  &-palette {
    @include d.flex($dir: row, $ali: center);

    flex-wrap: wrap;
  }
}

// -

.linearBg {
  &-container {
    position: relative;

    flex-wrap: wrap;
    justify-content: space-between;

    padding: v.$padding * 0.5;

    background-color: rgb(v.$bg1);
    border-radius: v.$radius * 0.5;

    @include d.flex($dir: row, $ali: center);
  }

  &-picker {
    position: absolute !important;
    z-index: 1;
    bottom: -174px - v.$padding;
    left: 50%;
    transform: translateX(-50%);
  }

  &-style {
    position: relative;
    justify-content: center;
    width: 60px;
    height: 80px;

    @include d.flex($ali: center);

    span {
      color: rgb(v.$fn2);
    }
  }

  &-transparent div,
  &-color div {
    width: 30px;
    height: 30px;
    border-radius: v.$radius;
  }

  &-color div {
    background-color: rgb(v.$tn1);
    border-radius: 50%;
  }

  &-transparent div {
    background-color: rgb(v.$bg2);
    background-image: linear-gradient(
        45deg,
        #676767 25%,
        transparent 25%,
        transparent 75%,
        #676767 75%,
        #676767
      ),
      linear-gradient(45deg, #676767 25%, transparent 25%, transparent 75%, #676767 75%, #676767);
    background-position:
      0 0,
      5px 5px;
    background-size: 10px 10px;
  }

  &-image {
    cursor: pointer;
    position: relative;

    &__info {
      @include d.flex($ali: center);

      svg {
        width: 30px;
        height: 30px;
        stroke: rgb(v.$fn2);
      }
    }

    &__file {
      display: none;
    }
  }
}
