/* stylelint-disable keyframes-name-pattern */
@use '@/sass/config/vars' as v;
@use '@/sass/utils/defs' as d;

.dropzone {
  position: relative;

  overflow: auto;

  width: 100%;
  height: 100%;
  border: 3.5px solid rgb(v.$bg1);
  border-radius: v.$radius;

  background-color: rgb(v.$bg1);

  @include d.flex;

  &.reject {
    background-color: rgba(v.$error, 0.5);
    animation: some-animation 1s ease-in-out forwards;

    @keyframes some-animation {
      100% {
        background-color: rgb(v.$bg1);
      }
    }
  }

  &.dragging {
    border-color: rgb(v.$tn1);
    border-style: dashed;
  }

  &-content {
    cursor: pointer;
    justify-content: center;
    width: 100%;
    height: 100%;

    @include d.flex($ali: center);
  }

  &-wrapper {
    @include d.flex($dir: row, $ali: center);
  }

  &-contentWrapper {
    @include d.flex($gap: v.$padding * 0.2);
  }

  &-icon {
    display: grid;
    place-content: center;

    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: v.$radius;

    background-color: rgb(v.$fn1);

    .lucide {
      width: 30px;
      height: 30px;

      fill: rgb(v.$fn1);
      stroke: rgb(v.$bg1);
      stroke-width: 2;
    }
  }
}
