@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.monacoThemeCategory {
  @include d.flex($gap: v.$padding * 0.5);

  &-icons {
    flex-wrap: wrap;

    @include d.flex($dir: row, $gap: v.$padding * 0.5);
  }

  &-languageAction {
    padding: v.$padding * 0.5;
    border: 2px solid transparent;
    border-radius: 5px;

    .icon {
      width: v.$icon * 1.5;
      height: v.$icon * 1.5;
    }

    &.selected {
      border-color: rgb(v.$tn1);

      .icon {
        filter: drop-shadow(0 5px 7px rgb(v.$tn1));
      }
    }
  }
}
