@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.theme {
  &-popup {
    flex-wrap: wrap;
    max-width: 320px;
    max-height: 600px;

    @include d.flex($dir: row, $gap: v.$padding * 0.5);
  }
}
