@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.customToast {
  user-select: none;

  justify-content: center;

  width: fit-content;
  min-width: 100px;
  min-height: fit-content;
  padding: v.$padding * 0.8 v.$padding;

  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

  @include d.flex($dir: row, $ali: center);

  &-icon {
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(v.$bg3);

    .lucide {
      width: 12px;
      height: 12px;
      stroke: white;
      stroke-width: 2.5;
    }
  }

  &.success .customToast-icon {
    background-color: v.$success;
  }

  &.error .customToast-icon {
    background-color: v.$error;
  }

  &.warning .customToast-icon {
    background-color: v.$warning;

    .lucide {
      stroke: black;
    }
  }

  &.info .customToast-icon {
    background-color: v.$info;
  }

  &-content {
    @include d.flex($gap: v.$padding * 0.5);
  }

  &-description {
    max-width: 170px;
    font-size: 0.8rem;
  }

  &-title {
    font-size: v.$fP;
    color: rgb(v.$fn1);
  }
}
