@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/glitch' as g;

.loaderApp {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  justify-content: center;

  width: 100%;
  height: 100%;

  transition: all 0.3s ease-in-out;

  @include d.flex($ali: center);
  @include g.glitch(color 5s forwards);

  @keyframes color {
    0% {
      background-color: black;
    }

    100% {
      background-color: rgb(v.$bg1);
    }
  }

  &-logo {
    width: 50px;
    height: 50px;
  }
}
