@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/glitch' as g;

.cvnPicture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;

  width: auto;
  height: auto;
  border-radius: v.$radius;

  &-container {
    overflow: hidden;

    box-sizing: content-box;
    width: fit-content;
    height: fit-content;
    border-radius: v.$radius;
  }

  &-image {
    object-fit: contain;
  }

  &-loader {
    display: grid;
    place-content: center;
    border-radius: v.$radius;
    background-color: rgb(v.$bg1);

    @include g.glitch(color 5s forwards);
  }
}
