@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.editorMP-transformer {
  position: relative;

  overflow: hidden;
  justify-content: center;

  // tamaño tarjeta imagen
  width: 940px;
  height: 700px;
  padding: v.$padding;
  border-radius: v.$radius;

  perspective: v.$per;
  perspective-origin: 0% 0%;
  background-color: black;

  @include d.flex($ali: center);
}
