@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.root-main.editorPage {
  display: grid;
  grid-template-areas:
    'styles main'
    'styles tools';
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 50px;
  gap: v.$padding;

  .root-tools {
    display: none;
  }
}

.editorPage {
  &-styles,
  &-main,
  &-tools {
    height: 100%;
  }

  &-styles {
    grid-area: styles;
    padding: v.$padding;
    background-color: rgb(v.$bg2);
    border-radius: v.$radius;
  }

  &-main {
    grid-area: main;

    @include d.flex($ali: center);

    justify-content: center;
  }

  &-tools {
    grid-area: tools;
  }
}

.EStack {
  position: relative;
  width: 400px;
  height: 250px;
  margin-top: 50px;

  &-card {
    z-index: 1;

    display: grid;
    place-content: center;

    width: 100%;
    height: 100%;

    text-align: center;

    background-color: purple;
    border-radius: v.$radius;

    &__back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rot;

      width: 100%;
      height: 100%;

      background-color: grey;
      border: 2px solid rgb(78 78 78);
      border-radius: v.$radius;

      transition: all 0.3 ease-out;
    }
  }
}
