@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.root-main.editorPage {
  display: grid;
  grid-template-areas:
    // 'styles main bg'
    // 'styles tools tools'

    'bg main styles'
    'bg tools tools';
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 1fr 50px;
  gap: v.$padding;

  .root-tools {
    display: none;
  }
}

.editorPage {
  &-styles,
  &-main,
  &-tools,
  &-background {
    height: 100%;
  }

  &-styles {
    grid-area: styles;
    padding: v.$padding;
    background-color: rgb(v.$bg2);
    border-radius: v.$radius;
  }

  &-main {
    grid-area: main;

    @include d.flex($ali: center);

    justify-content: center;
  }

  &-tools {
    grid-area: tools;
  }

  &-background {
    grid-area: bg;
    padding: v.$padding;
    background-color: rgb(v.$bg2);
    border-radius: v.$radius;
  }
}
