@use '@sass/config/global';
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

body {
  @extend %scroll-hidden;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 40px calc(100vh - 70px) 200px;
  gap: v.$padding;

  padding: v.$padding;
}

.root {
  &-header {
    grid-area: header;
  }

  &-main {
    grid-area: main;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(5px);

    @include d.flex($ali: center);
  }

  &-footer {
    grid-area: footer;
  }
}
