@use '@sass/utils/defs' as d;
@use '@sass/config/vars' as v;

.gradientsController {
  flex-wrap: wrap;

  @include d.flex($gap: v.$padding * 1.5);

  &-section {
    @include d.flex;
  }

  &-colors {
    @include d.flex($dir: row, $gap: v.$padding * 0.5);

    overflow: hidden;
    flex-wrap: wrap;
  }

  &-color {
    width: 50px;
    height: 50px;
    border-radius: v.$radius;
  }
}
