@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.app {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.app-board {
  width: 900px;
  height: 500px;
  background-color: red;
}
