@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.labeledInput {
  position: relative;

  width: fit-content;
  height: min-content;
  padding: v.$padding;
  border: 1.5px solid transparent;
  border-radius: v.$radius * 0.5;

  background-color: rgb(v.$bg2);

  @include d.flex($ali: flex-start);

  &-input {
    width: min-content;
    min-width: 100px;
    height: min-content;
    padding-left: v.$padding;

    color: rgb(v.$fn1);

    background-color: transparent;
  }

  &.transparent {
    border-color: transparent;
    background-color: transparent;
  }

  &-label {
    position: absolute;
    top: 50%;
    right: v.$padding;
    transform: translateY(-50%);

    color: rgb(v.$fn1);
  }
}
