@use '@sass/config/vars' as v;
@use 'sass:color';

$badges: (
  // Fase de pruebas iniciales y abierto a comentarios.
  'beta': (
      content: 'Beta',
      color: #a1ffc9,
      animation: bounce
    ),
  // Algo emocionante está por llegar muy pronto.
  'soon': (
      content: 'Soon',
      color: #bcfcff,
      animation: slide-in
    ),
  // Está en desarrollo activo y puede cambiar.
  'dev': (
      content: 'Dev',
      color: #e0b9fb,
      animation: pulse
    ),
  // Trabajo en curso; sujeto a cambios frecuentes.
  'wip': (
      content: 'WIP',
      color: #fff4b7,
      animation: shake
    ),
  // Un trabajo inicial que aún no está listo para producción.
  'draft': (
      content: 'Draft',
      color: #c9d1ff,
      animation: scale-up
    ),
  // Concepto o idea inicial; aún no implementado.
  'idea': (
      content: 'Idea',
      color: #ff9beb,
      animation: spin
    )
);

.badge {
  position: relative;

  &::after {
    position: absolute;
    top: -15px;
    right: -15px;
    transform: rotateZ(10deg) rotateZ(30deg);
    scale: 0.8;

    padding: 2px 8px;
    border: 2px solid rgb(v.$bg3);
    border-radius: 5px;

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: rgb(v.$bg1);
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  }

  @each $name, $styles in $badges {
    &.#{$name}::after {
      content: map-get($styles, content);
      color: map-get($styles, color);
      animation: map-get($styles, animation) 5s cubic-bezier(0.25, 1, 0.5, 1) infinite;
    }
  }
}

@keyframes bounce {
  0%,
  100%,
  20% {
    transform: rotateZ(0deg) translateY(0);
  }

  10% {
    transform: rotateZ(0deg) translateY(-10px);
  }
}

@keyframes slide-in {
  80% {
    transform: rotateZ(0deg) translateX(-20%);
    opacity: 0;
  }

  0%,
  100%,
  70%,
  90% {
    transform: rotateZ(0deg) translateX(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100%,
  30%,
  50% {
    transform: rotateZ(0deg) scale(1);
    opacity: 1;
  }

  40% {
    transform: rotateZ(0deg) scale(1.5);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100%,
  40%,
  70% {
    transform: rotateZ(0deg) translateX(0);
    scale: 0.8;
  }

  60% {
    transform: rotateZ(0deg) translateX(-10px);
    scale: 0.5;
  }

  50% {
    transform: rotateZ(0deg) translateX(10px);
    scale: 0.5;
  }
}

@keyframes scale-up {
  0%,
  100%,
  40%,
  60% {
    transform: rotateZ(0deg) scale(1);
  }

  50% {
    transform: rotateZ(0deg) scale(0.9);
  }
}

@keyframes spin {
  0%,
  100%,
  40%,
  60% {
    transform: rotateZ(0deg) rotate(0deg);
  }

  50% {
    transform: rotateZ(0deg) rotate(50deg);
  }
}

@keyframes heartbeat {
  0%,
  100% {
    transform: rotateZ(0deg) scale(1);
  }

  50% {
    transform: rotateZ(0deg) scale(1.15);
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }
}
