%patterns {
  &.pattern-12 {
    $primary-bg: rgb(0 0 0 / 75%);
    $secondary-bg: rgb(0 0 0 / 60%);
    $highlight1: rgb(255 255 255 / 40%);
    $highlight2: rgb(200 200 200 / 30%);
    $accent1: rgb(100 100 100 / 20%);

    background-image: radial-gradient(
        closest-side,
        transparent 0%,
        transparent 75%,
        $primary-bg 76%,
        $secondary-bg 85%,
        $highlight1 86%,
        $highlight1 94%,
        $highlight2 95%,
        $highlight2 103%,
        $accent1 104%,
        $accent1 112%,
        $primary-bg 113%,
        $primary-bg 121%,
        $highlight1 122%,
        $highlight1 130%,
        $secondary-bg 131%,
        $secondary-bg 140%
      ),
      radial-gradient(
        closest-side,
        transparent 0%,
        transparent 75%,
        $primary-bg 76%,
        $secondary-bg 85%,
        $highlight1 86%,
        $highlight1 94%,
        $highlight2 95%,
        $highlight2 103%,
        $accent1 104%,
        $accent1 112%,
        $primary-bg 113%,
        $primary-bg 121%,
        $highlight1 122%,
        $highlight1 130%,
        $secondary-bg 131%,
        $secondary-bg 140%
      );
    background-position:
      0 0,
      27.5px 27.5px;
    background-size: 55px 55px;
  }

  &.pattern-11 {
    $bg: rgb(0 0 0 / 100%);
    $bg2: rgb(255 255 255 / 100%);

    background:
      radial-gradient(circle at 50% 59%, $bg2 3%, $bg 4%, $bg 11%, transparent 12%, transparent)
        25px 0,
      radial-gradient(circle at 50% 41%, $bg 3%, $bg2 4%, $bg2 11%, transparent 12%, transparent)
        25px 0,
      radial-gradient(circle at 50% 59%, $bg2 3%, $bg 4%, $bg 11%, transparent 12%, transparent) 0
        25px,
      radial-gradient(circle at 50% 41%, $bg 3%, $bg2 4%, $bg2 11%, transparent 12%, transparent) 0
        25px,
      radial-gradient(circle at 100% 50%, $bg2 16%, transparent 17%),
      radial-gradient(circle at 0% 50%, $bg 16%, transparent 17%),
      radial-gradient(circle at 100% 50%, $bg2 16%, transparent 17%) 25px 25px,
      radial-gradient(circle at 0% 50%, $bg 16%, transparent 17%) 25px 25px;
    background-size: 50px 50px;
    filter: opacity(0.2);
  }

  &.pattern-10 {
    $bg: rgb(0 0 0 / 20%);

    background: linear-gradient(45deg, $bg 20%, transparent 20%, transparent 80%, $bg 80%, $bg 100%),
      linear-gradient(135deg, $bg 20%, transparent 20%, transparent 80%, $bg 80%, $bg 100%),
      linear-gradient(45deg, $bg 20%, transparent 20%, transparent 80%, $bg 80%, $bg 100%),
      linear-gradient(135deg, $bg 20%, transparent 20%, transparent 80%, $bg 80%, $bg 100%),
      radial-gradient(circle at top, transparent 9%, $bg 10%, $bg 15%, transparent 16%),
      radial-gradient(circle at bottom, transparent 9%, $bg 10%, $bg 15%, transparent 16%),
      radial-gradient(circle at right, transparent 9%, $bg 10%, $bg 15%, transparent 16%),
      radial-gradient(circle at left, transparent 9%, $bg 10%, $bg 15%, transparent 16%);
    background-size: 2em 2em;
  }

  &.pattern-9 {
    $bg: rgb(0 0 0 / 20%);

    background: radial-gradient(
        circle at top left,
        transparent 14%,
        $bg 15%,
        $bg 20%,
        transparent 21%
      ),
      radial-gradient(circle at top right, transparent 14%, $bg 15%, $bg 20%, transparent 21%),
      radial-gradient(circle at bottom left, transparent 14%, $bg 15%, $bg 20%, transparent 21%),
      radial-gradient(circle at bottom right, transparent 14%, $bg 15%, $bg 20%, transparent 21%),
      radial-gradient(circle at top, $bg 20%, transparent 21%),
      radial-gradient(circle at bottom, $bg 20%, transparent 21%),
      radial-gradient(circle at right, $bg 20%, transparent 21%),
      radial-gradient(circle at left, $bg 20%, transparent 21%),
      radial-gradient(circle, $bg 20%, transparent 21%);
    background-size: 2em 2em;
  }

  &.pattern-8 {
    $bg: rgb(0 0 0 / 15%);

    background: radial-gradient(
        circle at 50% 100%,
        $bg 5%,
        #000 5% 10%,
        $bg 10% 15%,
        #000 15% 20%,
        $bg 20% 25%,
        #000 25% 30%,
        $bg 30% 35%,
        #000 35% 40%,
        transparent 40%
      ),
      radial-gradient(
        circle at 100% 50%,
        $bg 5%,
        #000 5% 10%,
        $bg 10% 15%,
        #000 15% 20%,
        $bg 20% 25%,
        #000 25% 30%,
        $bg 30% 35%,
        #000 35% 40%,
        transparent 40%
      ),
      radial-gradient(
        circle at 50% 0%,
        $bg 5%,
        #000 5% 10%,
        $bg 10% 15%,
        #000 15% 20%,
        $bg 20% 25%,
        #000 25% 30%,
        $bg 30% 35%,
        #000 35% 40%,
        transparent 40%
      ),
      radial-gradient(
        circle at 0 50%,
        $bg 5%,
        #000 5% 10%,
        $bg 10% 15%,
        #000 15% 20%,
        $bg 20% 25%,
        #000 25% 30%,
        $bg 30% 35%,
        #000 35% 40%,
        transparent 40%
      );
    background-size: 2em 2em;
  }

  &.pattern-7 {
    background-image: radial-gradient(rgb(0 0 0 / 100%) 3px, transparent 1px),
      radial-gradient(rgb(0 0 0 / 100%) 1px, transparent 1px);
    background-position:
      0 0,
      8px 8px;
    background-size: 10px 10px;
  }

  &.pattern-6 {
    background-image: radial-gradient(rgb(0 0 0 / 50%) 3px, transparent 1px);
    background-size: 10px 10px;
  }

  &.pattern-5 {
    background-image: repeating-radial-gradient(
      circle at center center,
      rgb(0 0 0 / 35%),
      rgb(0 0 0 / 35%),
      8px,
      transparent 16px,
      transparent 8px
    );
    background-blend-mode: multiply;
  }

  &.pattern-4 {
    background-image: linear-gradient(135deg, rgb(0 0 0 / 50%) 25%, transparent 25%),
      linear-gradient(225deg, rgb(0 0 0 / 50%) 25%, transparent 25%),
      linear-gradient(45deg, rgb(0 0 0 / 50%) 25%, transparent 25%);
    background-position:
      20px 0,
      20px 0,
      0 0,
      0 0;
    background-size: 20px 20px;
  }

  &.pattern-3 {
    background-image: linear-gradient(135deg, rgb(0 0 0 / 40%) 25%, transparent 25%),
      linear-gradient(225deg, rgb(0 0 0 / 40%) 25%, transparent 25%),
      linear-gradient(45deg, rgb(0 0 0 / 40%) 25%, transparent 25%),
      linear-gradient(315deg, rgb(0 0 0 / 40%) 25%, transparent 25%);
    background-position:
      8px 0,
      8px 0,
      0 0,
      0 0;
    background-size: 16px 16px;
  }

  &.pattern-2 {
    background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      rgb(0 0 0 / 30%) 20px
    );
  }

  &.pattern-1 {
    background: repeating-linear-gradient(
        45deg,
        rgb(0 0 0) 0,
        rgb(0 0 0) 1px,
        transparent 1px,
        transparent 2px
      ),
      repeating-linear-gradient(
        -45deg,
        rgb(0 0 0) 0,
        rgb(0 0 0) 1px,
        transparent 1px,
        transparent 2px
      );
  }
}
