@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;

.sliderControl {
  cursor: col-resize;

  position: relative;

  overflow: hidden;

  padding: v.$padding 0;
  border-radius: v.$radius * 0.7;

  &-info {
    pointer-events: none;
    user-select: none;

    position: relative;

    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 v.$padding;

    @include d.flex($dir: row, $ali: center);
  }

  &-label {
    color: rgb(v.$fn1);
  }

  &-value {
    font-family: v.$font2;
    color: rgb(v.$fn1);
  }

  &-range {
    cursor: col-resize;

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    appearance: none;
    background-color: rgba(v.$tn1, 0.2);
    outline: none;

    &::-webkit-slider-thumb {
      cursor: col-resize;

      position: relative;
      top: 50%;
      transform: translateY(-50%);

      width: 3px;
      height: 60%;
      border-radius: 5px;

      appearance: none;
      background: rgb(v.$fn1);
      box-shadow: -200px 0 50px 185px rgb(v.$bg1);
    }

    &::-moz-range-thumb {
      cursor: col-resize;

      width: 3px;
      height: 60%;
      border-radius: 5px;

      background: rgb(v.$fn1);
      box-shadow: -200px 0 50px 185px rgb(v.$bg1);
    }

    &::-ms-thumb {
      cursor: col-resize;

      position: relative;
      top: 50%;
      transform: translateY(-50%);

      width: 3px;
      height: 60%;
      border-radius: 5px;

      background: rgb(v.$fn1);
      box-shadow: -200px 0 50px 185px rgb(v.$bg1);
    }

    &::-webkit-slider-runnable-track {
      cursor: col-resize;
      height: 100%;
      background: transparent;
    }

    &::-moz-range-track {
      cursor: col-resize;
      height: 100%;
      background: transparent;
    }

    &::-ms-track {
      cursor: col-resize;

      height: 100%;
      border-color: transparent;

      color: transparent;

      background: transparent;
    }
  }
}
