@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.unsplashCM {
  @include d.flex($ali: center);

  &-header,
  &-search {
    @include d.flex($ali: center, $dir: row);

    justify-content: center;
    width: 100%;
    border-radius: v.$radius;
  }

  &-header {
    padding: v.$padding;
    background-color: rgb(v.$bg2);
    border: 2px dashed rgb(v.$bg3);

    svg {
      width: 25px;
      height: 25px;

      path {
        fill: rgb(v.$fn3);
      }
    }
  }

  &-contend {
    position: relative;

    width: 100%;
    height: auto;
    max-height: 450px;
    padding: v.$padding 0;

    background-color: rgb(v.$bg3);
    border-radius: v.$radius;

    transition: all 0.5s ease;

    @include d.flex($ali: center);
  }

  &-search {
    top: 0;
    width: 90%;
    background-color: rgb(v.$bg3);
    border: 2px solid transparent;

    svg {
      stroke: rgb(v.$fn2);
    }

    input {
      padding: v.$padding 0;
      background-color: transparent;

      &,
      &::placeholder {
        color: rgb(v.$fn2);
      }
    }

    &:has(input:focus) {
      border-color: v.$focus;

      input,
      input::placeholder {
        color: v.$focus;
      }

      svg {
        stroke: v.$focus;
      }
    }
  }

  &-subSection {
    @extend %scroll-hidden;

    overflow-y: auto;

    width: 100%;
    height: 100%;
    padding: 0 v.$padding;

    text-align: center;

    @include d.flex;
  }

  &-recommended {
    @include d.flex($dir: row, $ali: center);

    flex-wrap: wrap;
    justify-content: center;

    &__option {
      padding: 8px 12px;

      font-size: 0.8rem;
      font-weight: 500;
      color: rgb(v.$fn1);

      border: 2px dashed rgb(v.$bg1);
      border-radius: 10px;
    }
  }

  &-actions {
    justify-content: center;
    width: 100%;

    &,
    button {
      @include d.flex($dir: row, $ali: center);
    }

    button {
      gap: v.$padding * 0.5;

      padding: 8px 13px;

      color: rgb(v.$fn1);

      background-color: rgb(v.$bg1);
      border-radius: 5px;
    }
  }

  &-images {
    @extend %scroll-hidden;

    overflow: auto;
    padding: 0 v.$padding;

    &,
    > div {
      width: 100%;
      height: 100%;
    }

    > div {
      column-count: auto;
      text-align: center;
    }
  }

  &-image {
    overflow: hidden;
    padding: v.$padding * 0.3;

    img {
      max-width: 90px;
      max-height: 80px;
      object-fit: contain;
      border-radius: v.$radius;
    }
  }
}
