@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.sliceContainer {
  position: relative;
  min-width: fit-content;

  @include d.flex;

  &-content {
    @include scroll-hidden;
  }

  &-action {
    position: sticky;
    z-index: 2;
    top: 0;
  }
}
