@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.editorFrameView {
  &-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: v.$padding;

    background-color: rgb(v.$bg2);
  }

  &-action {
    justify-content: center;

    width: auto;
    padding: v.$padding;

    font-weight: 600;

    background-color: rgb(v.$bg3);
    border-radius: v.$radius;

    @include d.flex($dir: row, $ali: center);

    &.active {
      color: rgb(v.$bg1);
      background-color: rgb(v.$fn1);

      svg {
        stroke: rgb(v.$bg1);
      }
    }
  }
}
