@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

.tools {
  position: relative;
  justify-content: space-between;

  @include d.flex($dir: row, $ali: center);

  &-section {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);

    padding: 5px;
    background-color: rgb(v.$bg2);

    &.center {
      padding: 5px v.$padding * 2;
    }

    > div {
      @include d.flex($dir: row, $ali: center, $gap: 0);
    }
  }

  &-action {
    &.border-left {
      margin-left: v.$padding;
      padding-left: v.$padding * 1.2;
      border-left: 2px solid rgb(v.$bg3);
    }

    &.border-right {
      margin-right: v.$padding;
      padding-right: v.$padding * 1.2;
      border-right: 2px solid rgb(v.$bg3);
    }
  }

  &-font {
    width: 30px;

    color: rgb(v.$fn2);
    text-align: center;

    appearance: none;
    background-color: transparent;
  }

  &-action.tools-shared {
    @include d.flex($dir: row, $ali: center, $gap: 10px);

    padding: v.$padding * 0.7 v.$padding * 1.5;

    font-weight: 500;
    color: rgb(v.$fn3);

    background-image: v.$gr1;
    border-radius: v.$radius;

    svg {
      stroke: rgb(v.$fn3);
    }
  }

  &-modal {
    $height: 200px;

    @extend %scroll-hidden;

    position: absolute;
    top: -1 * $height / 2;
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden scroll;

    width: 900px;
    height: $height;
    padding: v.$padding;

    visibility: hidden;
    opacity: 0;
    background-color: rgb(v.$bg2);
    border-radius: v.$radius;

    transition: all 0.5s v.$bezier;

    &.active {
      top: -1 * $height - v.$padding;
      visibility: visible;
      opacity: 1;
    }
  }
}
