@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.detailBar {
  $margin: v.$padding * 2;

  user-select: none;

  position: relative;

  width: 250px;
  height: fit-content;
  padding: v.$padding * 3 v.$padding;
  border-radius: v.$radius;

  background-color: rgb(v.$bg1, 0.7);
  backdrop-filter: blur(10px);

  @include d.flex($gap: v.$padding * 2);

  &-logo {
    @include d.flex;

    width: fit-content;
  }

  &-history {
    @include d.flex;
  }

  &.minimize {
    max-height: 75px;
    padding: v.$padding;

    .detailBar-logo {
      flex-direction: row;
      align-items: center;
    }

    .detailBar-history {
      display: none;
    }
  }

  &-arrow {
    position: absolute;
    top: v.$padding;
    right: v.$padding;
  }
}
