@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/glitch' as g;

.editorComponent {
  &.zoom {
    pointer-events: none;
  }
}

.loaderEditor {
  @include d.flex($ali: center);
  @include g.glitch(color 5s forwards);

  justify-content: center;
  width: 100%;
  height: max-content;
  background-color: transparent !important;

  &-wrapper {
    @include d.flex($dir: row, $ali: center);
  }

  &-title {
    text-align: center;
  }
}

.monaco-editor {
  outline: none !important;

  .overflow-guard * {
    font-family: var(--monaco-font-family) !important;
  }

  .relative-current-line-number {
    color: var(--vscode-editorLineNumber-foreground) !important;
    text-align: right !important;
  }
}

.user-monaco {
  &-highlight {
    cursor: pointer !important;

    padding: 0 3px;
    border: 1px solid rgb(v.$tn1);
    border-radius: 3px;

    background: rgb(v.$tn1, 0.2);
  }

  &-icon::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    display: inline-block;

    width: v.$icon;
    height: v.$icon;

    background-image: url('/logo.webp');
    background-position: center;
    background-size: cover;
  }
}
