/* stylelint-disable selector-class-pattern */
@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;

.range {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  width: 100%;
  height: 45px;

  border-radius: v.$radius;

  &-info {
    pointer-events: none;
    user-select: none;

    position: relative;

    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 v.$padding;

    @include d.flex($dir: row, $ali: center);

    h5 {
      color: rgb(v.$fn1);
    }
  }

  &-level {
    cursor: col-resize;

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: rgba(v.$bg1, 0.5);

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      width: 4px;
      height: 70%;

      appearance: none;
      background: rgb(v.$bg3);
      border: 2px solid rgb(var(v.$fn2));
      border-radius: 5px;
      box-shadow: -200px 0 50px 185px rgb(v.$bg3);
    }
  }
}
