@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.downloadTI {
  background-color: rgb(v.$bg2);

  @include d.flex;

  &-extend {
    width: 100%;
    height: fit-content;
    padding: v.$padding 0;
    border-radius: v.$radius * 0.5;

    font-size: 2rem;

    background-color: rgb(v.$bg3);

    @include d.flex($ali: center);
  }

  &-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v.$padding;

    width: 100%;
    padding: v.$padding;
    border-radius: v.$radius;

    background-color: rgb(v.$bg1);
  }

  &-item {
    display: block;

    width: auto;
    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius * 0.5;

    font-weight: 600;

    &.active {
      color: v.$fn1;
      background-color: rgb(v.$bg2);
    }
  }

  &-output,
  &-action {
    justify-content: space-between;

    @include d.flex($dir: row, $ali: center, $gap: 0);

    svg {
      stroke: rgb(v.$bg1);
    }
  }

  &-output {
    width: 100%;
    padding: v.$padding;
    border-radius: v.$radius;
    background-color: rgb(v.$bg1);
  }

  &-action {
    h4 {
      color: rgb(v.$bg1);
    }

    p {
      color: rgb(v.$bg2);
    }

    &__copy,
    &__download {
      padding: v.$padding;
      background-color: rgb(v.$fn1);
    }

    &__copy {
      width: fit-content;
      height: 100%;
      border-left: 2px solid rgb(v.$bg3);
      border-top-right-radius: v.$radius;
      border-bottom-right-radius: v.$radius;
    }

    &__download {
      width: 100%;
      border-top-left-radius: v.$radius;
      border-bottom-left-radius: v.$radius;

      @include d.flex($dir: row, $ali: center);

      div {
        @include d.flex($gap: 0, $ali: flex-start);
      }
    }
  }
}
