@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/background' as bg;
@use '@sass/components/patterns' as *;

$index-bg: 0;
$index-image: 1;
$index-noise: 2;
$index-pattern: 3;
$index-overlay: 4;

.drawing {
  &-background,
  &-pattern,
  &-noise,
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }

  &-background {
    z-index: $index-bg;
    background-color: transparent;
    background-image: transparent;
    transition: all 0.3s ease-in-out;
  }

  &-noise {
    z-index: $index-noise;
    object-fit: fill;
    background-image: url(v.$noise);
  }

  &-pattern {
    @extend %patterns;

    z-index: $index-pattern;
    opacity: 0.5;
  }

  &-overlay {
    z-index: $index-overlay;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
  }

  &-image {
    pointer-events: none;
    user-select: none;

    position: absolute;
    z-index: $index-image;
    transform-origin: 0% 0%;
    transform-style: preserve-3d;

    display: ruby;

    width: auto;
    height: auto;

    line-height: 0;

    transition:
      top 0.3s ease,
      left 0.3s ease,
      transform 0.3s ease;

    &__container {
      position: relative;
      width: auto;
      height: auto;

      img {
        width: 100%;
        max-width: 800px;
        height: 100%;
        max-height: 600px;

        object-fit: contain;
        object-position: top center;
      }
    }
  }

  // &-stack {
  //   position: absolute;
  //   top: 0;
  //   left: 0;

  //   overflow: hidden;

  //   width: 100%;
  //   height: 100%;

  //   background-color: rgb(102 102 102);

  //   @include bg.bgImage(v.$bgDef);
  // }
}
