@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.focusConfig {
  @include d.flex($dir: row, $ali: center);

  position: relative;

  justify-content: center;

  width: 250px;
  height: 250px;
  border-radius: v.$radius;

  background-color: rgb(v.$bg1);

  &-sun {
    position: absolute;
    top: 0;
    left: 0;

    padding: v.$padding;
    border-radius: 50%;

    background-color: rgb(v.$bg3);
  }

  &-objective {
    .lucide {
      width: v.$icon * 3;
      height: v.$icon * 3;
    }
  }
}
