@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/text' as t;
@use '@sass/utils/scrollbar' as *;

.languages {
  flex-wrap: wrap;
  width: 100%;

  @include d.flex;

  &-category {
    @include d.flex;
  }

  &-options {
    @include d.flex($dir: row, $gap: v.$padding * 0.7);

    flex-wrap: wrap;
  }

  &-option {
    justify-content: center;

    width: min-content;
    height: min-content;
    padding: v.$padding;

    background-color: rgb(v.$bg1);
    border: 2px solid transparent;
    border-radius: v.$radius;

    @include d.flex($ali: center);

    &.active {
      border-color: rgb(v.$tn1);
    }

    svg {
      width: 20px;
      height: 20px;
      filter: drop-shadow(0 0 10px rgba(var(--fnt-tertiary), 0.4));
    }
  }
}
